.div1 {
    height: 50px;
    width: 50px;
    background-color:  blue;
 
}

.div2 {
    height: 50px;
    width: 50px;
    background-color: darkblue;
   
}

.div3 {
    height: 50px;
    width: 50px;
    background-color: palevioletred;
}

.div4 {
    height: 50px;
    width: 50px;
    background-color: yellow ;
}
.container{

    display: flex;
    flex-direction: row;
}

.container2{

    display: flex;
    flex-direction:row-reverse;
}

.container3 {

    display: flex;
    justify-content: center;
}

.container4 {

    display: flex;
    justify-content: space-between;

}

.container5 {

    display: flex;
    justify-content: space-around;

}

.container6 {
    display: flex;
    justify-content: space-evenly;
}

.container7{
    display: flex;
    flex-direction: column-reverse;
}

.container8 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

